<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <nav style="text-align:center;background-color:black;font-size:30px;padding:10px;">
        <a style="color: white;padding:30px;" href="./index.html">Home</a>
        <a style="color: white;padding:30px;" href="./Contact.html">Contact</a>
        <a style="color: white;padding:30px;" href="./Services.html">Services</a>
    </nav>
    <div style="border:1px solid black;margin-left: auto;margin-right: auto; margin-top: 50px; width: 400px;text-align: center; background-color: rgb(197, 165, 228);">
        <h1>Contact us: 
            <h2>+21655147963</h2>
            <h2>contac@gmail.com</h2>
        </h1>
    </div>
    
</body>
</html>