<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <nav style="text-align:center;background-color:black;font-size:30px;padding:10px;">
        <a style="color: white;padding:30px;" href="./index.html">Home</a>
        <a style="color: white;padding:30px;" href="./Contact.html">Contact</a>
        <a style="color: white;padding:30px;" href="./Services.html">Services</a>
    </nav>
    <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:30px;color: rgb(171, 126, 214);">Welcome !</h1>
    <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:30px;color: rgb(171, 126, 214);">Our Products</h2>
    <div>
        <img src="./iphone-13.png" alt="photo" width="300px">
        <img src="./iphone13.png" alt="photo1" width="300px"
    </div>
</body>
</html>